nav {
    background: #fff !important;
    color: #37474f;
}

.color-fuente {
    color: #37474f !important;
}

.menu-item-route {
    color: #37474f !important;
    /* margin: 0 10px;
    cursor: pointer; */
}

.material-icons {
    color: #37474f !important;
}

.note-badge {
    position: absolute;
    top: 10%;
    right: 3%;
    color: white !important;
    background-color: red;
    border-radius: 50%;
    padding: 0;
    min-width: 25px !important;
}