nav {
    background: #fff !important;
    color: #37474f;
}

.color-fuente {
    color: #37474f !important;
}

.menu-item-route {
    color: #37474f !important;
    /* margin: 0 10px;
    cursor: pointer; */
}

.material-icons {
    color: #37474f !important;
}